[Conv_VAE]
input_dim = 30
enc_conv_channels = 8,16,32
#24,48,96
dec_conv_channels = 32,16,8
#96,48,24
hidden_dim = 10
z_dim = 1
conv_kernel_size = 3
conv_stride_enc2 = 2
conv_stride_dec2 = 2
# Loss function weights
recon_weight = 1.0
kl_weight = 1.0

[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 32
shuffle = True
num_workers = 4
normalize = True
class_filter = 0
conv = True

[Trainer]
num_epochs = 1000
patience = 60
lr = 1e-2
# Learning rate scheduler settings
use_scheduler = True
scheduler_type = cosinewarm

[WandB]
use_wandb = True
project = fraud-classification
name = conv-vae-normal
entity = alexkstern
tags = normal, conv, vae