[Transformer_VAE]
input_dim = 30
hidden_dim = 12
z_dim = 3
recon_weight = 1.0
kl_weight = 1.0

d_model = 20
nhead = 2
encoder_layers = 2
encoder_ff_dim = 50
decoder_layers = 1
decoder_ff_dim = 50


[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 32
shuffle = True
num_workers = 4
normalize = True
class_filter = 0
conv = True

[Trainer]
num_epochs = 300
patience = 60
lr = 1e-3
use_scheduler = True
scheduler_type = cosine

[WandB]
use_wandb = True
project = fraud-classification
name = transformer-vae-normal
entity = alexkstern
tags = normal, transformer, vae