[VAE]
input_dim = 30
hidden_dim = 200
z_dim = 10
recon_weight = 1.0
kl_weight = 1.0

[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 8
shuffle = True
num_workers = 4
normalize = True

[Trainer]
num_epochs = 50
save_dir = saved_models/fraud/v1
validate_every = 1
save_best_only = True
early_stopping = True
patience = 15

[WandB]
use_wandb = True
project = fraud-vae
name = vae-fraud-training
entity = alexkstern
tags = fraud, vae