[Conv_VAE]
input_dim = 30
enc_conv_channels = 16,32,64
dec_conv_channels = 64,32,16
hidden_dim = 32
z_dim = 3
conv_kernel_size = 3
conv_stride_enc2 = 2
conv_stride_dec2 = 2
# Loss function weights
recon_weight = 1.0
kl_weight = 1.0

[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 8
shuffle = True
num_workers = 4
normalize = True
class_filter = 1
conv=True

[Trainer]
num_epochs = 30
patience = 50
lr=1e-3

[WandB]
use_wandb = True
project = fraud-classification
name = conv-vae-fraud
entity = alexkstern
tags = fraud, conv,vae
