[Conv_VAE]
input_dim = 30
enc_conv_channels = 24,48,96
dec_conv_channels = 96,48,24
hidden_dim = 32
z_dim = 3
conv_kernel_size = 3
conv_stride_enc2 = 2
conv_stride_dec2 = 2
# Loss function weights
recon_weight = 1.0
kl_weight = 1.0

[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 32
shuffle = True
num_workers = 4
normalize = True
class_filter = 0
conv = True

[Trainer]
num_epochs = 100
patience = 15
lr = 1e-3
# Learning rate scheduler settings
use_scheduler = True
scheduler_type = plateau
scheduler_patience = 5
scheduler_factor = 0.5
scheduler_min_lr = 1e-6

[WandB]
use_wandb = True
project = fraud-classification
name = conv-vae-normal
entity = alexkstern
tags = normal, conv, vae