[Conv_VQVAE]
input_dim = 30
hidden_dim = 32
z_dim = 3
recon_weight = 1.0
vq_commitment_cost = 0.25
num_embeddings = 512
embedding_dim = 3
# Convolution parameters:
enc_conv_channels = 16,32,64
dec_conv_channels = 64,32,16
conv_kernel_size = 3
conv_stride_enc2 = 2
conv_stride_dec2 = 2

[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 8
shuffle = True
num_workers = 4
normalize = True
class_filter = 0
conv=True

[Trainer]
num_epochs = 30
patience = 15
lr=1e-3

[WandB]
use_wandb = True
project = fraud-classification
name = conv-vqvae-normal
entity = alexkstern
tags = normal, conv, vqvae