[Conv_VQVAE]
input_dim = 30
hidden_dim = 32
z_dim = 3
recon_weight = 1.0
vq_commitment_cost = 0.25
num_embeddings = 256
embedding_dim = 3
# Convolution parameters:
enc_conv_channels = 24,48,96
dec_conv_channels = 96,48,24
conv_kernel_size = 3
conv_stride_enc2 = 2
conv_stride_dec2 = 2

[DataLoader]
dataset_name = stanpony/european_credit_card_fraud_dataset
exclude_cols = original_index, Class
normalize_cols = Time, Amount
batch_size = 32
shuffle = True
num_workers = 4
normalize = True
class_filter = 1
conv = True

[Trainer]
num_epochs = 100
patience = 15
lr = 1e-3
# Learning rate scheduler settings
use_scheduler = True
scheduler_type = plateau
scheduler_patience = 5
scheduler_factor = 0.5
scheduler_min_lr = 1e-6

[WandB]
use_wandb = True
project = fraud-classification
name = conv-vqvae-fraud
entity = alexkstern
tags = fraud, conv, vqvae